{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "shared-node-browser": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "plugins": [
    "babel",
    "import"
  ],
  "rules": {
    "no-mixed-operators": "off",
    "max-len": "off",
    "object-shorthand": "off",
    "global-require": "off",
    "no-unused-expressions": "off",
    "class-methods-use-this": "off",
    "linebreak-style": [
      "off",
      "unix"
    ],
    "arrow-body-style": "off",
    "no-negated-condition": 0,
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0,
    "import/no-dynamic-require": 0,
    "no-console": [
      "off"
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-restricted-properties": [2, {
      "object": "disallowedObjectName",
      "property": "disallowedPropertyName"
    }],
    "allowNamedFunctions": false,
    "allowUnboundThis": false,
    "no-bitwise": [2, { "allow": ["~"] }],
    "no-return-assign": 1,
    "object-curly-newline": ["error", { "multiline": true, "minProperties": 5 }],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.name='setTimeout'][arguments.length!=2]",
        "message": "setTimeout must always be invoked with two arguments."
      }
    ],
    "func-style": ["off", "expression"]
  }
}
