#commits {
  border: 1px solid;
  border-collapse: collapse;
  font-family: sans-serif;
}
#commits tbody tr:nth-child(even) {
  background: #e4e3e3;
}
#commits thead tr {
  border-bottom: 1px solid;
}
#commits tbody tr td {
  padding: 3px 4px;
}