<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thông Tin Đăng Kí Mua Sách</title>
  <link id="favicon" rel="icon" type="image/x-icon" href="./favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=vietnamese" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <div class="bg-container">
    <img src="./bg-views.jpg" alt="background form">
  </div>
  <div class="row">
    <h1 class="title">ĐĂNG KÍ MUA SÁCH</h1>
    <div class="desc">
      <div class="product">
        <h4 class="product-title">Các Sản Phẩm:</h4>
        <ul class="product-info">
          <li>Sách kỹ năng <span>BÌNH TĨNH RÈN CON TỰ HỌC</span> giá bìa: 315k</li>
          <li>Chương trình <span>AUDIO SEMINAR ONLINE BÌNH TĨNH RÈN CON KĨ NĂNG TỰ HỌC</span>: 399k (học online đồng hành
            cùng các mẹ)
          </li>
          <li>Combo Sách và chương trình: 550k</li>
        </ul>
      </div>
      <span class="txt">Ngoài ra, khi bạn nhận sách trong tay, bạn sẽ có một mã số đặc biệt để tham gia vào Group Bình
          tĩnh rèn con tự học, nơi các bạn sẽ nhận được sự chia sẻ và đồng hành của tác giả trong quá trình thực hiện rèn
          cho con kĩ năng tự học.</span>
      <span class="txt">Thông tin chuyển khoản: Nguyễn Thị Thanh – 0561000605989 – Vietcombank chi nhánh Lâm Đồng</span>
      <span class="txt">Nội dung: Họ tên- Số điện thoại- Mã đơn hàng ( Inbox cho page để nhận mã ạ)</span>
      <span class="txt">Chuyển khoản xong các bạn chụp lại biên lai giao dịch thành công inbox vào Page <a href="https://www.facebook.com/daycontuhoc/" target="_blank">Dạy con tự học</a></span>
      <div class="desc-notice">
        <h4 class="desc-title">Lưu ý: </h4>
        <ol class="desc-info">
          <li>Cac bạn chuyển khoản xong bên mình mới lên đơn gửi sách nhé!</li>
          <li>Các bạn điền thông tin chính xác và kiểm tra lại lần nữa vì bên mình sẽ không xác nhận lại để quá trình giao
            sách được nhanh gọn hơn.
          </li>
          <li>Bên mình không shipcode nhé. Bạn được freeship cho tất cả các đơn hàng.</li>
        </ol>
      </div>
      <span class="txt">Xin cám ơn !</span>
    </div>
  </div>

  <form>
    <div class="field-txt name">
      <input type="text" id="name" name="name" class="input-txt" required autofocus>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="name" class="label-txt">Họ và tên của bạn: *</label>
    </div>

    <div class="field-txt address">
      <input type="text" id="address" name="address" class="input-txt" required autofocus>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="address" class="label-txt">Địa chỉ của bạn: *</label>
    </div>

    <div class="field receiving">
      <p class="field-title">Đăng ký nhận sách ở miền nào: *</p>
      <p class="receiving-desc">M1: Miền Bắc- Miền Trung ( từ Bình Định trở ra)</p>
      <p class="receiving-desc">M2: Miền Nam ( M1: các bạn ở TP Vinh_ Nghệ An liên hệ trực tiếp Fb Trương Thủy để lấy
        sách nhé)</p>

      <div class="field-radio">
        <input type="radio" id="receiving1" name="receiving" value="M1" required autofocus>
        <label class="field-value" for="receiving1">M1</label>
      </div>
      <div class="field-radio">
        <input type="radio" id="receiving2" name="receiving" value="M2" required autofocus>
        <label class="field-value" for="receiving2">M2</label>
      </div>
    </div>

    <div class="field-txt phone">
      <input type="tel" id="phone" name="phone" class="input-txt" required autofocus>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="phone" class="label-txt">Số điện thoại liên lạc: *</label>
    </div>

    <div class="field-txt email">
      <input type="email" id="email" name="email" class="input-txt" required autofocus>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="email" class="label-txt">Email của bạn: *</label>
    </div>

    <div class="field buy">
      <p class="field-title">Bạn chọn mua: *</p>
      <div class="field-radio">
        <input type="radio" id="buy1" name="buy" value="Sách giấy Bình tĩnh rèn con 315k" required autofocus>
        <label class="field-value" for="buy1">Sách giấy Bình tĩnh rèn con 315k</label>
      </div>
      <div class="field-radio">
        <input type="radio" id="buy2" name="buy" value="Audio Bình tĩnh rèn con - 399k" required autofocus>
        <label class="field-value" for="buy2">Audio Bình tĩnh rèn con - 399k</label>
      </div>
      <div class="field-radio">
        <input type="radio" id="buy3" name="buy" value="Combo sách và audio - 550k" required autofocus>
        <label class="field-value" for="buy3">Combo sách và audio - 550k</label>
      </div>
      <div class="field-radio">
        <input type="radio" id="buy4" name="buy" value="Đã mua sách- nay mua thêm audio - 235k" required autofocus>
        <label class="field-value" for="buy4">Đã mua sách - nay mua thêm audio - 235k</label>
      </div>
    </div>

    <div class="field-txt quantity">
      <input type="number" id="quantity" name="quantity" class="input-txt" required autofocus>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="quantity" class="label-txt">Số lượng *</label>
    </div>

    <div class="field payment">
      <p class="field-title">Hình thức thanh toán: *</p>
      <label class="field-checkbox">
        <input type="checkbox" id="payment" required autofocus>
        <span class="field-value checkbox-material">
              <span class="check"></span>
            </span> Chuyển khoản ngân hàng ( ghi đúng nội dung chuyển khoản theo hướng dẫn ở trên. Thanks!)
      </label>
    </div>

    <div class="field done">
      <p class="field-title">Bạn đã nhập xong đơn hàng: *</p>
      <span class="field-notice">Đề nghị bạn kiểm tra lại các thông tin bạn cung cấp cho đầy đủ và chính xác, đặc biệt
            số điện thoại và địa chỉ.</span>
      <label class="field-checkbox">
        <input type="checkbox" id="done" required autofocus>
        <span class="field-value checkbox-material">
              <span class="check"></span>
            </span> Đã nhập xong đơn
      </label>
    </div>
    <button type="submit" class="btn"><span>Submit</span></button>
  </form>
</div>
<script src="page.js"></script>
</body>
</html>
