<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.js"></script>
</head>
<body>
<div id="demo" style="white-space: pre-line"></div>
<p>The current time is <span id="time-stamp"></span>.</p>
<p>Your name is <span id="prompt"></span>.</p>
<button id="action">Set Name</button>
<script>
    let str = "Visit W3Schools.\nLearn JavaScript. \n good job for you \n thank you !";
    document.getElementById("demo").innerHTML = str;
</script>
</body>
</html>