/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}
/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}
/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f4ffff;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(1, 39, 63, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 rgba(255, 222, 222, 1);
  background: #767777;
  border: 1px solid #ccc;
}
.bg-container {
  height: 850px;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  -webkit-filter: opacity(70%) brightness(90%);
  filter: opacity(70%) brightness(90%);
}
.bg-container img {
  max-width: 100%;
}
.container {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 4rem;
}
.row {
  position: relative;
  margin: 0;
  padding: 35px 25% 40px;
}
form {
  background-color: #ffffff;
  max-width: 40%;
  padding: 20px 40px;
  margin: 0 auto;
  position: relative;
}
.title {
  margin-top: 0;
  text-align: center;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 3.4rem;
  color: #3c3b3c;
}
.desc {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  /*color: #202020;*/
  color: #3f3f3f;
  margin: 35px 0 20px;
}
.product-title, .desc-title {
  margin: 0 0 -10px 0;
  font-size: 2.2rem;
  font-weight: 500;
}
.product-info li, .desc-info li {
  padding: 5px;
}
.product-info span {
  font-weight: 500;
}
.desc .txt {
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.desc a {
  text-decoration: none;
  font-weight: 500;
  color: #155185;
}
.receiving {
  font-weight: 400;
  line-height: 28px;
  font-size: 1.6rem;
  margin-bottom: 55px;
}
.receiving-desc {
  padding-left: 10px;
}
.field-title {
  font-weight: 500;
  font-size: 2rem;
}
.field-value, .payment, .done {
  font-weight: 400;
  font-size: 1.6rem;
}
.buy {
  line-height: 32px;
}
.payment, .done {
  margin-bottom: 40px;
}
.done .field-title {
  margin-bottom: 10px;
}
.desc-notice {
  margin-top: 30px;
}
.field-notice {
  font-size: 1.4rem;
  line-height: 24px;
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
}
/**
 @Description: Style Input Text
 */
.field-txt {
  position: relative;
  margin: 30px 0 45px;
}
.input-txt {
  font-size: 1.6rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 360px;
  border: none;
  border-bottom: 1px solid #757575;
}
.input-txt:focus {
  outline: none;
}
.label-txt {
  color: #adbbc8;
  font-size: 1.6rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 12px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* active state */
.input-txt:focus ~ label,
.input-txt:valid ~ label, .field-txt .error:invalid ~ label {
  top: -12px;
  font-size: 1.2rem;
  color: #337ab7;
  font-weight: 400;
}
.field-txt .error:invalid ~ label, .field-txt .error:valid ~ label {
  color: #ee5253;
}
.bar {
  position: relative;
  display: block;
  width: 375px;
}
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #2e7abc;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
/* active state */
.input-txt:focus ~ .bar:before, .input-txt:focus ~ .bar:after {
  width: 50%;
}
.highlight {
  position: absolute;
  height: 50%;
  width: 80px;
  top: 20%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* active state */
.input-txt:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.input-txt:valid ~ .bar:after, .input-txt:valid ~ .bar::before {
  background-color: #2e7abc;
  width: 50%;
}
.field-txt .error:invalid ~ .bar:after,
.field-txt .error:invalid ~ .bar::before,
.field-txt .error:valid ~ .bar::before,
.field-txt .error:valid ~ .bar::after {
  background-color: #ee5253;
  width: 50%;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #2e7abc;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #2e7abc;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #2e7abc;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/**
 @Description: Style Input Checkbox
 */
.field-checkbox {
  cursor: pointer;
  padding-left: 0;
  position: relative;
  line-height: 28px;
}
input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}
.checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 3px;
  margin-right: 8px;
}
.checkbox-material:before {
  position: absolute;
  left: 8px;
  top: 2px;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  height: 4px;
  width: 4px;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
}
.checkbox-material .check {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}
.checkbox-material .check:before {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  display: block;
  margin-top: -2px;
  margin-left: 8px;
  width: 0;
  height: 0;
  box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
  -webkit-animation: checkbox-off 0.3s forwards ease-out;
  -moz-animation: checkbox-off 0.3s forwards ease-out;
  animation: checkbox-off 0.3s forwards ease-out;
}
input[type=checkbox]:focus + .checkbox-material .check:after {
  opacity: 0.2;
}
input[type=checkbox]:checked + .checkbox-material .check:before {
  box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  -webkit-animation: checkbox-on 0.3s forwards ease-out;
  -moz-animation: checkbox-on 0.3s forwards ease-out;
  animation: checkbox-on 0.3s forwards ease-out;
}
input[type=checkbox]:not(:checked) + .checkbox-material:before {
  -webkit-animation: rippleOff 700ms forwards ease-out;
  -moz-animation: rippleOff 700ms forwards ease-out;
  animation: rippleOff 700ms forwards ease-out;
}
input[type=checkbox]:checked + .checkbox-material:before {
  -webkit-animation: rippleOff 700ms forwards ease-out;
  -moz-animation: rippleOff 700ms forwards ease-out;
  animation: rippleOff 700ms forwards ease-out;
}
input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
  -webkit-animation: rippleOff 700ms forwards ease-out;
  -moz-animation: rippleOff 700ms forwards ease-out;
  animation: rippleOff 700ms forwards ease-out;
}
input[type=checkbox]:checked + .checkbox-material .check:after {
  -webkit-animation: rippleOn 700ms forwards ease-out;
  -moz-animation: rippleOn 700ms forwards ease-out;
  animation: rippleOn 700ms forwards ease-out;
}
input[type=checkbox][disabled]:not(:checked) ~ .checkbox-material .check:before,
input[type=checkbox][disabled] + .circle {
  opacity: 0.5;
}
input[type=checkbox][disabled] + .checkbox-material .check:after {
  background-color: rgba(0, 0, 0, 0.84);
  transform: rotate(-45deg);
}
.checkbox-material .check {
  color: #337ab7;
}
.checkbox-material:before {
  background-color: #337ab7;
}
input[type=checkbox]:checked + .checkbox-material .check {
  color: #337ab7;
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}
@-moz-keyframes ripple {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}
@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }
  100% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}
@-moz-keyframes ripple {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }
  100% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}
@keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }
  100% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}
@-webkit-keyframes ripple {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}
@-moz-keyframes ripple {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}
@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}
@-webkit-keyframes ripple {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}
@-moz-keyframes ripple {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}
@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}
/**
 @Description: Style Input Radio
 */
.field-radio {
  margin: 20px 0 20px 5px;
  position: relative;
}
.field-radio input[type=radio] {
  opacity: 0;
  position: absolute;
}
.field-radio input[type=radio]:checked + label:before {
  border-color: #337ab7;
  -webkit-animation: ripple 0.2s linear forwards;
  -moz-animation: ripple 0.2s linear forwards;
  animation: ripple 0.2s linear forwards;
}
.field-radio input[type=radio]:checked + label:after {
  transform: scale(1);
}
.field-radio label {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.field-radio label:before, .field-radio label:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: all 0.3s ease;
  transition-property: transform, border-color;
}
.field-radio label:before {
  left: 0;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.field-radio label:after {
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  transform: scale(0);
  background: #337ab7;
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
@-moz-keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
.btn {
  margin-top: 15px;
  padding: 0 16px;
  border: 1px solid #d5d5d5;
  color: #ffffff;
  background-color: #1dd1a1;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
  outline: none;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
  transition: background-color 0.2s ease-in;
}
.btn:disabled {
  background-color: #bbbbbb;
}
.btn:disabled:hover {
  background-color: #b1b1b1;
}
.btn span {
  display: block;
  position: relative;
  padding: 12px 24px;
}
.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .6s ease-out, padding-top .6s ease-out;
}
.btn:hover {
  background-color: #17b88d;
}
@media only screen and (max-width: 1280px) {
  .row {
    padding: 35px 15% 40px;
  }
  form {
    max-width: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  .bg-container {
    height: 900px;
  }
  .row {
    padding: 35px 10%;
  }
  form {
    max-width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .bg-container {
    height: 100vh;
  }
  .row {
    padding: 35px 8%;
  }
  form {
    max-width: 75%;
  }

}
@media only screen and (max-width: 599px) {
  .bg-container {
    height: 85vh;
  }
  .row {
    padding: 35px 4% 10px;
  }
  form {
    max-width: 100%;
    padding: 0 20px;
  }
  .title {
    letter-spacing: 4px;
    font-size: 3rem;
  }
  .desc-notice {
    margin-top: 75px;
  }
  .bar {
    width: 100%;
  }
  .input-txt {
    width: 95%;
  }
  .btn {
    width: 100%;
  }
  .product-info {
    padding-left: 25px;
  }
}
@media only screen and (max-width: 414px) {
  .bg-container {
    height: 740px;
  }
}
@media only screen and (max-width: 375px) {
  .bg-container {
    height: 780px;
  }
}
@media only screen and (max-width: 360px) {
  .bg-container {
    height: 860px;
  }
  .title {
    letter-spacing: 1px;
  }
}
