.login-form {
  max-width: 400px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form-button {
  width: 100%;
}
.login-form-forgot {
  float: right;
}

.error {
  font-size: 14px;
  color: #fa5d5d;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .login-form {
    top: 50%;
  }
}